* {
  background-color: #CFCFCF;
  font-family: serif;
  margin-left: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-align: center;
  text-decoration: none;
}

#navBarUl {
  background-color: #999797;
  border: 0px;
  display: block;
  font-size: 1.5em;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-decoration: none;
}

.navList {
  background-color: #999797;
  display: block;
  float: left;
  padding: 1.1vw 1.1vh;
  text-decoration: none;
}

.navList:hover {
  background-color: #A4A4A4;
}

.activePage {
  background-color: #B4B4B4;
  display: block;
  float: left;
  padding: 1.1vw 1.1vh;
  text-decoration: none;
}

#comingsoon {
  font-size: 2em;
}
